@import "../../scss/avairables.scss";

.top-bar {
  // padding: 27px 0;
  max-width: 1920px;
  background-color: var(--black-two);
  margin: 0 auto;
  position: sticky;
}

.containr-top-nav {
  max-width: 1929px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 120px 27px 97px;
  @media (max-width: 1280px) {
    padding: 27px 60px 27px 60px;
  }
  @media (max-width: 1024px) {
    padding: 27px 40px 27px 40px;
  }
  @media (max-width: 970px) {
    padding: 27px 18px 27px 18px;
  }
}

.box-logo {
  // width: 226px;
  // height: 26px;
  // padding-left: 97px;
  @media (max-width: 1919px) {
    // padding-left: 1.6rem;
  }
  img {
    // width: 100%;
    // object-fit: cover;
  }
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // padding-right: 120px;
  margin-bottom: 0;
  padding: 0;
  @media (max-width: $md) {
    display: none;
  }
  &__item {
    padding: 0 2.5rem;
    @media (max-width: 1280px) {
      padding: 0 1rem;
    }
    &_link {
      font-size: $font-size-14;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      text-align: center;
      color: var(--white);
      @media (max-width: 969px) {
        font-size: $font-size-10;
      }
    }
    &:nth-child(3) {
      border-right: 1px solid var(--white);
    }
  }
}

.menu-icon {
  display: none;
  width: 4rem;
  height: 4rem;
  color: var(--white);
  margin-right: 3rem;
  @media (max-width: 720px) {
    display: block;
  }
  .out-line-menu {
    width: 4rem;
    height: 4rem;
  }
}

.wrapper-dropdown-menu {
  margin-top: 0;
  z-index: 1;
  display: none;
  background-color: var(--black-two);
  animation: dropdown-memu linear 0.5s;
  .d-block {
    display: block;
  }
}

.menu-inner {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .item-dropdown-menu {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_link {
      text-align: center;
      color: var(--white);
    }
  }
  &.d-block {
    display: block;
  }
}

@keyframes dropdown-memu {
  to {
    opacity: 0;
    margin-top: 0;
  }
  from {
    margin-top: -12.8rem;
    opacity: 1;
  }
}
