@import "../../scss/avairables.scss";
.wrapper-footer {
  max-width: 1920px;
  margin: 0 auto;
}

@mixin fotter-info($align) {
  h3 {
    font-size: $font-size-14;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: $align;
    color: #111;
    margin-bottom: 31px;
  }
  p {
    width: 27.3%;
    font-size: $font-size-14;
    font-weight: $font-weight-brand;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: $align;
    color: #111;
    margin-bottom: 60px;
  }
}

.footer {
  width: 100%;
  &-inner {
    width: 89.58%;
    margin: 0 auto;
  }
  &-inner-top {
    display: flex;
    justify-content: space-between;
    padding: 49px 0 60px 0;
    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      @include fotter-info(left);
    }
    &__right {
      width: 50%;
      display: flex;
      justify-content: end;
      &-item {
        width: 12.79%;
        @include fotter-info(left);
      }
    }
  }
  &-inner-bottom {
    display: flex;
    &-left {
      width: 50%;
      p {
        font-size: $font-size-14;
        font-weight: $font-weight-brand;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: var(--greyish);
        margin-bottom: 22px;
        padding-bottom: 113px;
      }
    }
    &-right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      &-item {
        list-style: none;
        &:not(:last-child) {
          margin-right: 23px;
        }
      }
      .bottom-item-link {
        text-decoration: none;
      }
    }
  }
}
