@import "../../scss/avairables.scss";
.main {
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
}

.container-main {
  padding: 0;
}
.main-banner {
  width: 100%;
  position: relative;
  padding-top: 52%;
  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.main-introduct {
  position: relative;
  width: 100%;
  height: 576px;
  padding-top: 30%;
  img {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    display: block;
    width: 100%;
    top: 0;
    height: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    // padding: 174px 174px 181px 174px;
  }
  &__info {
    width: 44%;
    padding: 174px 0 181px 174px;
    @media (max-width: 1919px) {
      padding: 116px 0 151px 54px;
    }
    @media (max-width: 1024px) {
      width: 51%;
      padding: 116px 0 80px 54px;
    }
    @media (max-width: 969px) {
      padding: 125px 0 102px 54px;
      width: 62%;
    }
    @media (max-width: 719px) {
      padding: 119px 68px 171px 31px;
      width: 98%;
    }
    @media (max-width: 539px) {
      padding: 130px 29px 149px 31px;
      width: 100%;
    }
  }
  &__title {
    text-transform: uppercase;
    font-weight: $font-weight-title;
    font-size: $font-size-title;
    line-height: 1.4;
    color: var(--white);
    margin-bottom: 59px;
    @media (max-width: 969px) {
      width: 79%;
      font-size: $font-size-44;
    }
    @media (max-width: 769px) {
      font-size: 38px;
    }
    @media (max-width: 539px) {
      font-size: $font-size-40;
      width: 100%;
    }
  }
  &__text-info {
    font-size: $font-size-20;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    color: var(--white);
    word-wrap: break-word;
    @media (max-width: 969px) {
      font-size: $font-size-16;
    }
  }
}

.bes-product {
  position: relative;
  width: 100%;
  padding-top: 55.9%;
  img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  &__info {
    width: 34.6%;
    margin: 0 auto;
    padding: 150px 0 74px 0;
    @media (max-width: 1919px) {
      width: 42.6%;
      padding: 54px 0 29px 0;
    }
    @media (max-width: 1279px) {
      // width: 46.6%;
      padding: 41px 0 44px 0;
      width: 55.6%;
    }
    @media (max-width: 1023px) {
      padding: 46px 0 47px 0;
    }
    @media (max-width: 969px) {
      padding: 20px 0 20px 0;
    }
    @media (max-width: 539px) {
      padding: 8px 0 8px 0;
    }
  }
  &__title {
    margin: 0 0 49px 0;
    font-size: $font-size-50;
    line-height: 0.7;
    color: var(--bright-orange);
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    @media (max-width: 1919px) {
      margin: 0 0 42px 0;
    }
    @media (max-width: 1279px) {
      margin: 0 0 28px 0;
      font-size: $font-size-46;
    }
    @media (max-width: 1023px) {
      font-size: $font-size-32;
      line-height: 1.1;
      margin: 0 0 13px 0;
    }
    @media (max-width: 969px) {
      font-size: $font-size-26;
    }
    @media (max-width: 719px) {
      font-size: $font-size-22;
    }
    @media (max-width: 539px) {
      font-size: 14px;
      margin: 0 0 6px 0;
    }
  }
  &__label {
    margin: 0;
    font-size: $font-size-18;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--bright-orange);
    @media (max-width: 1279px) {
      font-size: $font-size-16;
    }
    @media (max-width: 1023px) {
      font-size: $font-size-14;
    }
    @media (max-width: 969px) {
      font-size: $font-size-12;
    }
    @media (max-width: 719px) {
      font-size: $font-size-8;
    }
    @media (max-width: 539px) {
      font-size: $font-size-7;
    }
  }
  &__image-list {
    width: 100%;
    padding: 0 176px 197px 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1919px) {
      padding: 0 150px 197px 150px;
    }
    @media (max-width: 1279px) {
      padding: 0 120px 197px 120px;
    }
    @media (max-width: 1023px) {
    }
    @media (max-width: 969px) {
      padding: 0 90px 197px 90px;
    }
    @media (max-width: 719px) {
      padding: 0 50px 197px 50px;
    }
    @media (max-width: 539px) {
    }
    &-item {
      width: 523px;
      height: 514px;
      position: relative;
      // margin: 0 auto;
      img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      .wrapp-link {
        position: absolute;
        width: 70.6%;
        border: solid 3px var(--dark-maroon);
        background-color: var(--white);
        bottom: -8%;
        right: 50%;
        transform: translate(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        $width-text-p: 72.9%;
        @media (max-width: 1919px) {
          bottom: 30%;
          width: 82.6%;
        }
        @media (max-width: 1279px) {
          bottom: 43%;
        }
        @media (max-width: 1023px) {
          bottom: 48%;
        }
        @media (max-width: 969px) {
          bottom: 62%;
        }
        @media (max-width: 719px) {
          bottom: 69%;
        }
        @media (max-width: 539px) {
          width: 87.6%;
          bottom: 80%;
        }
        p {
          width: $width-text-p;
          display: inline-block;
          margin: 13px 8px 9px 0;
          font-family: Montserrat;
          font-size: $font-size-18;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          text-align: left;
          color: var(--black-three);
          padding: 7px 8px 6px 27px;
          @media (max-width: 1919px) {
            margin: 0;
            padding: 7px 8px 6px 13px;
            font-size: $font-size-16;
          }
          @media (max-width: 1279px) {
            font-size: $font-size-13;
          }
          @media (max-width: 1023px) {
            font-size: $font-size-12;
          }
          @media (max-width: 969px) {
            font-size: 8px;
          }
          @media (max-width: 719px) {
            padding: 4px;
            font-size: 7px;
          }
          @media (max-width: 539px) {
            padding: 3px;
            font-size: 5px;
          }
        }
        .icon-go {
          position: relative;
          width: 100% - $width-text-p;
          height: 66px;
          margin-right: 6px;
          @media (max-width: 1023px) {
            height: 48px;
          }
          @media (max-width: 969px) {
            height: 36px;
          }
          @media (max-width: 719px) {
            margin-right: 1px;
            height: 24px;
          }
          @media (max-width: 539px) {
            height: 16px;
          }
          img {
            width: 100%;
            object-fit: contain;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

@mixin btn-theme($color, $bg-color) {
  .btn {
    text-transform: uppercase;
    padding: 21px 37px;
    border: solid 3px var(--dark-maroon);
    background-color: var($bg-color);
    color: var($color);
    font-size: $font-size-23;
    font-weight: 800;
    @media (max-width: 1919px) {
      padding: 7px 12px;
      font-size: 18px;
    }
    @media (max-width: 1279px) {
      padding: 6px 6px;
      font-size: 16px;
      font-weight: 500;
      border: solid 2px var(--dark-maroon);
    }
    @media (max-width: 969px) {
      font-size: $font-size-10;
    }
    // @media (max-width: 719px) {
    //   padding: 8px;
    // }
    @media (max-width: 539px) {
      padding: 3px;
      font-size: 16px;
    }
    &:hover {
      background-color: var(--bright-orange-two);
      color: var(--white);
      border-color: var(--bright-orange-two);
    }
  }
}
// .container-load {
//   width: 100%;
// }
.wrapper-product {
  width: 100%;
  padding: 174px;
  @media (max-width: 1919px) {
    padding: 120px;
  }
  @media (max-width: 1279px) {
    padding: 120px;
  }
  @media (max-width: 1023px) {
    padding: 80px;
  }
  @media (max-width: 969px) {
  }
  @media (max-width: 719px) {
    padding: 50px 11px;
  }
  @media (max-width: 539px) {
  }
}

.wrapper-sroll {
  height: 1850px;
  overflow-y: scroll;
  @media (max-width: 1279px) {
    height: 1320px;
  }
  @media (max-width: 1023px) {
  }
  @media (max-width: 969px) {
  }
  @media (max-width: 719px) {
  }
  @media (max-width: 539px) {
  }
}
.container-load {
  min-height: 1850px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.margin-bottom-item {
  margin-bottom: 40px;
  display: flex;
  padding-left: 4.5px;
  padding-right: 4.5px;
  flex: 1 20%;
  @media (max-width: 1919px) {
    flex: 1 20%;
  }
  @media (max-width: 969px) {
    flex: 1 1 33.33%;
  }
  @media (max-width: 719px) {
    flex: 1 1 50%;
  }
  @media (max-width: 539px) {
    flex: 1 1 100%;
  }
}
.product-item {
  position: relative;
  width: 100%;
  padding-top: 100%;
  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:hover {
      transform: scale(1.1);
      z-index: 1;
      cursor: pointer;
    }
  }
  h4 {
    font-size: $font-size-16;
    text-align: center;
    margin: 30px 0 30px 0;
    color: var(--black-three);
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    &-price,
    &-like {
      font-size: $font-size-14;
      color: var(--black-three);
      cursor: pointer;
    }
    &-like {
      .heart-icon {
        margin-right: 0.3rem;
      }
    }
  }
}

.wrapper-btn-load {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include btn-theme(--black-three, --white);
  @media (max-width: 1279px) {
    margin-top: 50px;
  }
}

.brand-story {
  width: 100%;
  background-color: var(--cerulean);
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
  @media (max-width: 1023px) {
    padding-bottom: 116px;
  }
  @media (max-width: 969px) {
    padding-bottom: 90px;
  }
  &__info {
    width: 38%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1279px) {
      width: 42%;
    }
  }
  &__title {
    margin: 149px 0 40px 0;
    font-weight: bold;
    font-size: $font-size-title;
    line-height: 0.7;
    color: var(--bright-orange);
    text-align: center;
    color: var(--sun-yellow);
    text-transform: uppercase;
    @media (max-width: 1279px) {
      margin: 100px 0 16px 0;
      font-size: $font-size-45;
    }
    @media (max-width: 969px) {
      margin: 74px 0 16px 0;
      font-size: $font-size-30;
    }
    @media (max-width: 719px) {
      margin: 74px 0 6px 0;
      font-size: 18px;
    }
  }
  &__label {
    margin-bottom: 77px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var(--sun-yellow);
    @media (max-width: 1919px) {
      margin-bottom: 38px;
    }
    @media (max-width: 1279px) {
      font-size: $font-size-13;
    }
    @media (max-width: 969px) {
      margin: 13px 0 18px 0;
      font-size: $font-size-10;
    }
    @media (max-width: 719px) {
      margin: 13px 0 14px 0;
      font-size: 6px;
    }
  }
  &__box {
    width: 65.1%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    margin: 0px 334px 0 335px;
    // border: 3px solid #111;
    border-top: 24px solid #111;
    position: relative;
    z-index: 3;
    @media (max-width: 1919px) {
      margin: 0px auto;
    }
    @media (max-width: 969px) {
      // width: 70%;
      border-top: 12px solid #111;
    }
    @media (max-width: 719px) {
      border-top: 8px solid #111;
    }

    &-info {
      width: 51.1%;
      padding: 49px 68px 39px 45px;
      @media (max-width: 1919px) {
        @media (max-width: 1919px) {
          padding: 39px 26px 39px 26px;
        }
      }
      @media (max-width: 1279px) {
        padding: 24px 20px 24px 20px;
      }
      @media (max-width: 1023px) {
        padding: 10px 20px 16px 20px;
      }
      @media (max-width: 969px) {
        padding: 16px 14px 16px 14px;
      }
      @media (max-width: 719px) {
        padding: 11px 6px;
      }
    }
    &-img {
      width: 48.9%;
      position: relative;
      // @media (max-width: 1279px) {
      //   width: 45%;
      // }
      @media (max-width: 719px) {
        // width: 100%;
      }
      img {
        position: absolute;
        width: 100%;
        top: -3px;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;

        @media (max-width: 1919px) {
          top: -2px;
          left: -2px;
        }
        @media (max-width: 1279px) {
          left: 0px;
        }
        @media (max-width: 719px) {
          top: -1px;
        }
      }
    }
    &-title {
      text-transform: uppercase;
      margin-bottom: 39px;
      font-size: $font-size-25;
      font-weight: $font-weight-title;
      @media (max-width: 1919px) {
        font-size: $font-size-20;
        margin-bottom: 10px;
      }
      @media (max-width: 1279px) {
        font-size: $font-size-16;
      }
      @media (max-width: 969px) {
        font-size: $font-size-10;
      }
      @media (max-width: 719px) {
        font-size: 7px;
        margin-bottom: 3px;
      }
    }
    &-label {
      font-size: $font-size-14;
      font-weight: $font-weight-brand;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      text-align: left;
      color: var(--black-three);
      margin-bottom: 47px;
      @media (max-width: 1919px) {
        font-size: $font-size-10;
        margin-bottom: 25px;
      }
      @media (max-width: 1279px) {
        font-size: $font-size-8;
        font-weight: normal;
        line-height: 2;
        margin-bottom: 22px;
      }
      @media (max-width: 1023px) {
        margin-bottom: 13px;
      }
      @media (max-width: 969px) {
        margin-bottom: 8px;
        font-size: $font-size-6;
      }
      @media (max-width: 719px) {
        margin-bottom: 4px;
        font-size: 5px;
      }
    }
    .brand-story__btn-load {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      @include btn-theme(--black-three, --white);
      .btn__see-more {
        @media (max-width: 719px) {
          font-size: 6px;
          padding: 2px 3px;
        }
      }
    }
  }
  img {
    position: absolute;
  }

  .Oject1 {
    top: 183px;
    left: 169px;
    @media (max-width: 1919px) {
      width: 120px;
      top: 235px;
      left: 120px;
    }
    @media (max-width: 1279px) {
      width: 90px;
      top: 177px;
      left: 102px;
    }
    @media (max-width: 969px) {
      width: 60px;
      top: 144px;
      left: 72px;
    }
    @media (max-width: 719px) {
      width: 50px;
      top: 113px;
      left: 50px;
    }
  }
  .Oject2 {
    top: 61px;
    right: 256px;
    z-index: 1;
    @media (max-width: 1919px) {
      width: 120px;
      top: 61px;
      right: 186px;
    }
    @media (max-width: 1279px) {
      width: 90px;
      right: 128px;
    }
    @media (max-width: 969px) {
      width: 60px;
      right: 100px;
      top: 60px;
    }
    @media (max-width: 719px) {
      width: 40px;
      right: 76px;
      top: 62px;
    }
  }
  .Oject3 {
    top: 93px;
    right: 171px;
    z-index: 2;
    @media (max-width: 1919px) {
      width: 120px;
      right: 108px;
    }
    @media (max-width: 1279px) {
      width: 90px;
      right: 68px;
    }
    @media (max-width: 969px) {
      width: 60px;
      right: 62px;
      top: 80px;
    }
    @media (max-width: 719px) {
      width: 40px;
      right: 48px;
      top: 78px;
    }
  }
  .Oject4 {
    top: 190px;
    right: -89px;
    @media (max-width: 1919px) {
      width: 238px;
    }
    @media (max-width: 1279px) {
      width: 154px;
      top: 168px;
      right: -61px;
    }
    @media (max-width: 969px) {
      width: 117px;
      top: 128px;
      right: -37px;
    }
    @media (max-width: 719px) {
      width: 90px;
      top: 107px;
      right: -28px;
    }
  }
  .Oject5 {
    top: 537px;
    right: -22px;
    @media (max-width: 1919px) {
      width: 238px;
      top: 470px;
      right: -6px;
    }
    @media (max-width: 1279px) {
      width: 190px;
      top: 374px;
    }
    @media (max-width: 1023px) {
      top: 367px;
      right: -11px;
    }
    @media (max-width: 969px) {
      width: 133px;
      top: 275px;
      right: -1px;
    }
    @media (max-width: 719px) {
      width: 100px;
      top: 212px;
      right: -2px;
    }
  }
  .Oject6 {
    top: 415px;
    left: 0;
    @media (max-width: 1919px) {
      width: 124px;
      top: 386px;
    }
    @media (max-width: 1279px) {
      width: 100px;
      top: 298px;
    }
    @media (max-width: 969px) {
      width: 70px;
      top: 223px;
    }
    @media (max-width: 719px) {
      width: 54px;
      top: 172px;
    }
  }
  .Oject7 {
    top: 497px;
    left: 190px;
    @media (max-width: 1919px) {
      width: 120px;
      top: 434px;
      left: 122px;
    }
    @media (max-width: 1279px) {
      width: 100px;
      top: 332px;
      left: 98px;
    }
    @media (max-width: 969px) {
      width: 70px;
      top: 247px;
      left: 69px;
    }
    @media (max-width: 719px) {
      width: 50px;
      top: 197px;
      left: 54px;
    }
  }
  // .img {
  //   top: 368px;
  //   left: 335px;
  //   z-index: 4;
  // }
  //brand-bottom
}
.happen {
  width: 100%;
  padding: 43px 0 57px;
  opacity: 0.85;
  background-color: #fccb05;
  @media (max-width: 1919px) {
    padding: 43px 0 0px;
  }
  @media (max-width: 1279px) {
    padding: 0;
  }
  &__info {
    width: 35.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1919px) {
      width: 36.5%;
    }
    @media (max-width: 1279px) {
      width: 45.5%;
    }
    @media (max-width: 1023px) {
      width: 48.5%;
    }
    @media (max-width: 969px) {
      width: 65.5%;
    }
    @media (max-width: 719px) {
      width: 96.5%;
    }
    @media (max-width: 539px) {
    }
  }
  &__title {
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 10px;
    text-align: center;
    color: #111;
    text-align: center;
    margin: 105px 0 50px 0;
    text-transform: uppercase;
    @media (max-width: 1023px) {
      font-size: $font-size-30;
      margin: 64px 0 30px 0;
    }
    @media (max-width: 969px) {
      margin: 64px 0 24px 0;
    }
    @media (max-width: 719px) {
      margin: 31px 0 24px 0;
      font-size: $font-size-24;
    }
  }
  &__label {
    width: 100%;
    font-size: $font-size-20;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    margin-bottom: 53px;
    @media (max-width: 1023px) {
      font-size: $font-size-16;
    }
    @media (max-width: 969px) {
      margin-bottom: 35px;
    }
    @media (max-width: 719px) {
      font-size: 14px;
    }
  }
  .happen-btn-load {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 149px;
    @include btn-theme(--black-three, --sun-yellow);
    @media (max-width: 1919px) {
      margin-bottom: 68px;
    }
    @media (max-width: 969px) {
      margin-bottom: 50px;
    }
    @media (max-width: 719px) {
    }
    @media (max-width: 539px) {
    }
  }
  &__image-list {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    padding-bottom: 85px;
    @media (max-width: 1919px) {
    }
    @media (max-width: 1279px) {
    }
    @media (max-width: 1023px) {
    }
    @media (max-width: 969px) {
    }
    @media (max-width: 719px) {
    }
    @media (max-width: 539px) {
    }
    &-item {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--black-three);
      z-index: 1;
      @media (max-width: 719px) {
        width: 50%;
      }
      .newImg {
        position: relative;
        width: 100%;
        padding-top: 104.6%;
        img {
          position: absolute;
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          max-width: 100%;
          max-height: 100%;
          @media (max-width: 719px) {
            top: 3px;
          }
        }
      }

      &:nth-child(1) {
        // padding: 87px 99px 277px 99px;
        padding: 87px 97px 85px 97px;
        .newImg {
          width: 148px;
          position: relative;
          padding-top: 71%;
        }
        @media (max-width: 1919px) {
          padding: 36px 23px 49px 23px;
        }
        @media (max-width: 1279px) {
          padding: 56px 23px 49px 23px;
          .newImg {
            width: 74px;
          }
        }
        @media (max-width: 1023px) {
          padding: 20px 23px 49px 23px;
        }
        @media (max-width: 969px) {
        }
        @media (max-width: 719px) {
          padding: 79px 40px 31px 40px;
        }
        @media (max-width: 539px) {
        }
        .happen__image-list-item-title {
          font-size: $font-size-55;
          font-weight: $font-weight-800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.04;
          letter-spacing: normal;
          text-align: center;
          color: var(--dark-brown);
          text-transform: uppercase;
          padding: 0;
          margin: 0 0 20px;
          @media (max-width: 1279px) {
            font-size: $font-size-30;
            margin: 0 0 30px 0;
          }
          @media (max-width: 1024px) {
            font-size: $font-size-18;
          }
          @media (max-width: 719px) {
            font-size: $font-size-30;
          }
        }
      }
      &:nth-child(2) {
        background-color: #fccb05;
        @media (max-width: 1919px) {
        }
      }
      &:nth-child(3) {
        background-color: var(--dark-brown);
        @media (max-width: 1919px) {
        }
      }
      &:nth-child(4) {
        background-color: var(--bright-orange-two);
        @media (max-width: 1919px) {
        }
      }
      &:nth-child(5) {
        background-color: #111;
        @media (max-width: 1919px) {
        }
      }

      p {
        text-transform: uppercase;
        padding: 27px 0 25px;
        font-size: $font-size-30;
        font-weight: $font-weight-brand;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: var(--white);
        margin: 0;
        @media (max-width: 1024px) {
          padding: 15px 0 15px;
          font-size: 16px;
        }
      }
    }
  }
}

.main-bottom {
  width: 100%;
  padding: 0 0 422px 0;
  opacity: 0.85;
  background-color: var(--white);
  position: relative;
  overflow: hidden;
  @media (max-width: 1919px) {
    padding: 0 0 290px 0;
  }
  @media (max-width: 969px) {
    padding: 0 0 170px 0;
  }
  @media (max-width: 719px) {
    padding: 0 0 98px 0;
  }
  &__info {
    width: 36.6%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 1919px) {
      width: 48.6%;
    }
    @media (max-width: 719px) {
      width: 55.6%;
    }
  }
  &__title {
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.74;
    letter-spacing: 10px;
    text-align: left;
    color: #111;
    text-align: center;
    margin: 148px 0 50px 0;
    text-transform: uppercase;
    @media (max-width: 1279px) {
      margin: 94px 0 28px 0;
      font-size: $font-size-38;
    }
    @media (max-width: 1023px) {
      margin: 96px 0 28px 0;
      font-size: 35px;
    }
    @media (max-width: 969px) {
      margin: 60px 0 19px 0;
      font-size: 22px;
    }
    @media (max-width: 719px) {
      font-size: 19px;
    }
  }
  &__label {
    width: 100%;
    font-size: $font-size-20;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #111;
    margin-bottom: 53px;
    @media (max-width: 1279px) {
      margin-bottom: 30px;
    }
    @media (max-width: 1023px) {
      font-size: $font-size-14;
      margin-bottom: 18px;
    }
    @media (max-width: 719px) {
      font-size: $font-size-12;
    }
  }
  .main-bottom-btn-load {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
    @include btn-theme(--black-three, --white);
    @media (max-width: 1919px) {
      padding-bottom: 50px;
    }
    @media (max-width: 1023px) {
      padding-bottom: 34px;
    }
    @media (max-width: 719px) {
      padding-bottom: 24px;
    }
  }
  .main-bottom-video {
    width: 65.1%;
    position: relative;
    margin: -0 auto;
    z-index: 5;
    .video {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .videoObject1 {
    position: absolute;
    bottom: 168px;
    left: 348px;
    z-index: 1;
    @media (max-width: 1919px) {
      bottom: 110px;
      left: 233px;
      width: 296px;
    }
    @media (max-width: 1279px) {
      left: 179px;
      width: 214px;
      top: 743px;
    }
    @media (max-width: 1023px) {
      left: 170px;
      width: 214px;
      top: 685px;
    }
    @media (max-width: 969px) {
      left: 128px;
      width: 170px;
      top: 570px;
    }
    @media (max-width: 719px) {
      left: 96px;
      width: 116px;
      top: 480px;
    }
  }
  .videoObject3 {
    position: absolute;
    bottom: 337px;
    left: 223px;
    @media (max-width: 1919px) {
      bottom: 230px;
      left: 143px;
      width: 104px;
    }
    @media (max-width: 1279px) {
      left: 130px;
      width: 60px;
      top: 700px;
    }
    @media (max-width: 1023px) {
      top: 645px;
      left: 122px;
      width: 60px;
    }
    @media (max-width: 969px) {
      top: 528px;
      left: 79px;
      width: 60px;
    }
    @media (max-width: 719px) {
      left: 63px;
      width: 40px;
      top: 450px;
    }
  }

  .videoObject4 {
    position: absolute;
    top: 333px;
    left: -326px;
    @media (max-width: 1919px) {
      top: 320px;
      left: -215px;
      width: 390px;
    }
    @media (max-width: 1279px) {
      top: 226px;
      left: -139px;
      width: 252px;
    }
    @media (max-width: 1023px) {
      top: 180px;
      left: -139px;
      width: 252px;
    }
    @media (max-width: 969px) {
      top: 180px;
      left: -115px;
      width: 206px;
    }
    @media (max-width: 719px) {
      top: 178px;
      left: -79px;
      width: 143px;
    }
  }

  .videoObject8 {
    position: absolute;
    top: 952px;
    right: -222px;
    @media (max-width: 1919px) {
      top: 750px;
      right: -149px;
      width: 396px;
    }
    @media (max-width: 1279px) {
      top: 562px;
      right: -115px;
      width: 308px;
    }
    @media (max-width: 1023px) {
      top: 494px;
      right: -106px;
      width: 284px;
    }
    @media (max-width: 969px) {
      top: 433px;
      right: -82px;
      width: 216px;
    }
    @media (max-width: 719px) {
      top: 362px;
      right: -64px;
      width: 165px;
    }
  }
  .videoObject9 {
    position: absolute;
    top: 656px;
    right: -186px;
    @media (max-width: 1919px) {
      top: 532px;
      right: -153px;
      width: 270px;
    }
    @media (max-width: 1279px) {
      top: 389px;
      right: -120px;
      width: 214px;
    }
    @media (max-width: 1023px) {
      top: 336px;
      right: -111px;
      width: 196px;
    }
    @media (max-width: 969px) {
      top: 311px;
      right: -86px;
      width: 150px;
    }
    @media (max-width: 719px) {
      top: 272px;
      right: -64px;
      width: 110px;
    }
  }
  .videoObject5 {
    position: absolute;
    top: 0;
    left: 226px;
    @media (max-width: 1919px) {
      left: 156px;
      width: 104px;
    }
    @media (max-width: 1279px) {
      left: 127px;
      width: 60px;
    }
    @media (max-width: 1023px) {
      left: 116px;
      width: 70px;
    }
    @media (max-width: 969px) {
      left: 94px;
      width: 50px;
    }
    @media (max-width: 719px) {
      left: 69px;
      width: 40px;
    }
  }
  .videoObject6 {
    position: absolute;
    top: 244px;
    right: 244px;
    z-index: 1;
    @media (max-width: 1919px) {
      top: 211px;
      right: 178px;
      width: 90px;
    }
    @media (max-width: 1279px) {
      top: 142px;
      right: 141px;
      width: 46px;
    }
    @media (max-width: 1023px) {
      top: 108px;
      right: 126px;
      width: 60px;
    }
    @media (max-width: 969px) {
      top: 95px;
      right: 93px;
      width: 46px;
    }
    @media (max-width: 719px) {
      top: 83px;
      right: 78px;
      width: 32px;
    }
  }
  .videoObject7 {
    position: absolute;
    top: 146px;
    right: 146px;
    @media (max-width: 1919px) {
      top: 137px;
      right: 108px;
      width: 104px;
    }
    @media (max-width: 1279px) {
      top: 94px;
      right: 100px;
      width: 60px;
    }
    @media (max-width: 1023px) {
      top: 58px;
      width: 70px;
    }
    @media (max-width: 969px) {
      top: 53px;
      right: 60px;
      width: 50px;
    }
    @media (max-width: 719px) {
      top: 53px;
      right: 46px;
      width: 40px;
    }
  }
}
