$__black-two-color: #111111;
$__white: #ffffff;
$__bright-orange: #ea4913;
$__sun-yellow: #fccb05;
$__cerulean-color: #0565bb;
$bright-orange: #f96400;
$tomato-three: #e0412a;

$font-size-8: 8px;
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-22: 22px;
$font-size-23: 23px;
$font-size-25: 25px;
$font-size-26: 26px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-38: 38px;
$font-size-33: 33px;

$font-size-title: 50px;
$font-size-50: 50px;
$font-size-text: 1.4rem;
$font-size-xl: 1.2rem;
$font-size-lg: 1rem;

$font-size-45: 45px;
$font-size-46: 46px;
$font-size-55: 55px;
// font-size

//font-theme responesive
$font-size-50: 50px;
$font-size-45: 45px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-18: 18px;
$font-size-23: 23px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-40: 40px;
$font-size-44: 44px;
$font-size-7: 7px;
$font-size-6: 6px;

//font-weight

$font-weight-800: 800;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-600: 600;
$font-weight-300: 300;

$font-weight-title: 800;
$font-weight-brand: 300;

$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 970px;
$xl: 1280px;
$xxl: 1920px;
