.Text-Style-18 {
  font-family: Montserrat;
  font-size: 171.5px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
}
.Text-Style-13 {
  font-family: Montserrat;
  font-size: 171.5px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.Text-Style-4 {
  font-family: NotoSansCJKkr;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-two);
}
.Text-Style-25 {
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: center;
  color: var(--dark-brown);
}
.Text-Style-19 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: left;
  color: var(--white);
}
.Text-Style-12 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.54;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-two);
}
.Text-Style-5 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: var(--bright-orange);
}
.Text-Style-3 {
  font-family: Montserrat;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 4.5px;
  text-align: left;
  color: var(--sun-yellow);
}
.Text-Style-23 {
  font-family: Montserrat;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 4.5px;
  text-align: left;
  color: var(--dark-brown);
}
